@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');


@font-face {
  font-family: 'pixel';
  src: url('./fonts/pixel.ttf') format('truetype');
}

* {
  margin-left: auto;
  margin-right: auto;
}

html {
  background: url('https://images4.alphacoders.com/966/thumb-1920-966314.jpg')no-repeat center center fixed;
  background-size: cover;
  font-family: 'VT323';
  color: rgb(43, 39, 39);
}

body {
  display: flex;
  flex-direction: column;
}

#nameProjet {
  font-size: 55px;
  margin-bottom: 2px;
}

#title {
  font-size: 35px;
  margin-bottom: 5px;
}

#paragraph {
  margin-bottom: 10px;
  margin-top: 0;
}

.color {
  width: 35px;
  height: 35px;
  margin: 8px;
  margin-bottom: 0;
  display: inline-block;
}

#pixel-board {
  display: flex;
  flex-wrap: wrap;
  width: 210px;
  height: 210px;
}

.pixel {
  width: 40px;
  height: 40px;
  border: 1px solid black;
}

#clear-board {
  size: 30px;
  margin-bottom: 10px;
  margin-top: 10px;
  font-family: 'VT323';
  font-size: 16px;
  display : inline-block;
  width: 80px;
  height:23px;
}

#board-size {
  margin-right: 5px;
  display: inline-block;
  height: 18px;
}

#generate-board {
  font-family: 'VT323';
  font-size: 16px;
  display: inline-block;
  width: 130px;
  height: 23px;
}